@import './slider.css';
@import './player-controls.css';
@import './playerPlayback.css';
@import './player-volume.css';
@import './now-playing.css';


.player {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    box-shadow: inset 0 1px 0 var(--gray30);
}

.player > * {
    flex: 1;
}

.player-control {
    border: none;
    background: none;
    color: var(--gray10);
    font-size: 1rem;
    padding: .5rem;
    cursor: pointer;
}

.player-playerVolume {
    display: flex;
    justify-content: flex-end;
}